{% extends "../base.html" %}
{% load blog_tags %}
{% block title %} Search Blog {% endblock %}
{% block content %}
    {% if query %}
        <h2> Post containing {{ query }} </h2>
        <h3>
            {% with results.count as total_results %}
                Found {{total_results}} Result{{ total_results|pluralize}}
            {% endwith %}
        </h3>
        {% for post in results %}
            <a href="{{post.get_absolute_url}}">{{ post.title }}</a>
            <p>
                {{post.body|markdown|truncatewords_html:12}}
            </p>
        {% empty %}
            <p>
                There are no results for your query.
            </p>
        {% endfor %}
        <a href="{% url 'blog:post_search' %}">Search</a>
    {% else %}
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form> 
    {% endif %}
{% endblock %}